<!-- Site Head -->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title | strip_html }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description" content="Cyril Vandenberghe - Personal website" />
  <link
    rel="shortcut icon"
    href="{{ site.baseurl }}/images/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="{{ site.baseurl }}/images/favicon.ico"
    type="image/x-icon"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    rel="stylesheet"
  />

  <!-- Importing Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
</head>
